In [1]:
import os
from glob import glob
os.getcwd()

'f:\\0Create\\Programing\\Python\\自動化\\Excel'

In [5]:
import pandas as pd

### read_excelの場合

In [3]:
df=pd.read_excel('Excel へようこそ1.xlsx',sheet_name="1. 追加")
df

,効率よく数値を加算する,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,Excel で数値を加算する方法をいくつか紹介します。,NaN,NaN,NaN,NaN,NaN,NaN
1,セル C3 から D7 には、[果物] と [金額] の 2 つの列を含むデータが格納されて...,NaN,果物,金額,NaN,肉類,金額
2,Ctrl + G キーを押し、「D8」と入力し、Enter キーを押して D8 に移動します。,NaN,りんご,50,NaN,牛肉,50
3,= SUM(D4:D7) と入力し、Enter キーを押します。,NaN,オレンジ,20,NaN,鶏肉,30
4,結果は、170 です。,NaN,バナナ,60,NaN,豚肉,10
...,...,...,...,...,...,...,...
87,SUM 関数の詳細,NaN,NaN,NaN,NaN,NaN,NaN
88,SUMIF 関数の詳細,NaN,NaN,NaN,NaN,NaN,NaN
89,Excel を電卓として使用する,NaN,NaN,NaN,NaN,NaN,NaN
90,Excel の無料オンライン トレーニング,NaN,NaN,NaN,NaN,NaN,NaN
91,Ctrl + Home キーを押して、ページのトップに戻ります。次の手順に進むには、Ctrl...,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
#テーブルのデータを取り出す。
table1=df.iloc[2:5,2:4]
table1

  Unnamed: 2 Unnamed: 3
2        りんご         50
3       オレンジ         20
4        バナナ         60

In [27]:
#カラムのラベルを取り出す。
#ラベルはSeries（ラベル付きの1次元配列）です。
df.iloc[1,2:4]

Unnamed: 2    果物
Unnamed: 3    金額
Name: 1, dtype: object

In [34]:
#雑談
#この時のSeriesのラベルを取り出すとこんな感じです。
df.iloc[1,2:4].index

Index(['Unnamed: 2', 'Unnamed: 3'], dtype='object')

In [36]:
table1.columns=df.iloc[1,2:4]
table1

1    果物  金額
2   りんご  50
3  オレンジ  20
4   バナナ  60

データフレームの取り出しに成功しました。

### ExcelFILEの場合

In [75]:

wb=pd.ExcelFile('Excel へようこそ1.xlsx')
ws_names = wb.sheet_names
#lenでシートの総数を確認
num_sheets = len(ws_names)
#シートの数とシートの名前のリストの表示
print ("Sheet の数:", num_sheets)
print (ws_names)

Sheet の数: 12
['開始', '1. 追加', '2. フィル', '3. 分割', '4. 転置', '5. 並べ替えとフィルター', '6. 表', '7. ドロップダウン', '8. 分析', '9. グラフ', '10. ピボットテーブル', '詳細情報']

In [23]:
df1=df.parse("1. 追加",
skiprows = 3,
skipfooter = 2,
usecols= "A:B,D,F,H,J,L,N,P,R,T,V,X",
names = range(0,13))

  Unnamed: 2 Unnamed: 3
2        りんご         50
3       オレンジ         20
4        バナナ         60
5        レモン         40

In [24]:
import pandas as pd
#input file name
input_file_name = 'Excel へようこそ1.xlsx'
#xls book Open (xls, xlsxのどちらでも可能)
input_book = pd.ExcelFile(input_file_name)
#sheet_namesメソッドでExcelブック内の各シートの名前をリストで取得できる
input_sheet_name = input_book.sheet_names
#lenでシートの総数を確認
num_sheet = len(input_sheet_name)
#シートの数とシートの名前のリストの表示
print ("Sheet の数:", num_sheet)
print (input_sheet_name)

Sheet の数: 12
['開始', '1. 追加', '2. フィル', '3. 分割', '4. 転置', '5. 並べ替えとフィルター', '6. 表', '7. ドロップダウン', '8. 分析', '9. グラフ', '10. ピボットテーブル', '詳細情報']

In [32]:
#DataFrameとしてsheet1枚のデータ(2019)を読込み
input_sheet_df = input_book.parse(input_sheet_name[1])

In [ ]:
#読み込んだシート名の確認
print("Sheet name:", input_sheet_name[1])
#読み込んだシートの先頭10行を表示
input_sheet_df.head(10)

In [ ]:
input_sheet_df.tail(5)

In [36]:
input_sheet_df = input_book.parse(input_sheet_name[1],
skiprows = 3,
skipfooter = 2,
parse_cols = "C:E",
names = ('果物','金額'))

In [37]:
input_sheet_df

                                                                       果物   金額
= SUM(D4:D7) と入力し、Enter キーを押します。                   NaN オレンジ 20.0 NaN   鶏肉   30
結果は、170 です。                                        NaN バナナ  60.0 NaN   豚肉   10
ショートカット キーを使用して、加算する別の方法を示します。セル F3 から G7 には、[肉... NaN レモン  40.0 NaN   魚肉   50
セル G8 に移動します。Alt + = キーを押し、ENTER キーを押します。          NaN NaN  NaN  NaN  NaN  NaN
セル G8 の結果は、140 です。                                 NaN NaN  NaN  NaN  NaN  NaN
...                                                                   ...  ...
NaN                                                NaN NaN  NaN  NaN  NaN  NaN
Web 上のその他の情報                                       NaN NaN  NaN  NaN  NaN  NaN
SUM 関数の詳細                                          NaN NaN  NaN  NaN  NaN  NaN
SUMIF 関数の詳細                                        NaN NaN  NaN  NaN  NaN  NaN
Excel を電卓として使用する                                   NaN NaN  NaN  NaN  NaN  NaN

[87 rows x 2 columns]

In [62]:
#pandasを読み込む
import pandas as pd
#input file name
input_file_name = 'since2003_visitor_arrivals.xlsx'
#xls book Open (xls, xlsxのどちらでも可能)
input_book = pd.ExcelFile(input_file_name)
#sheet_namesメソッドでExcelブック内の各シートの名前をリストで取得できる
input_sheet_name = input_book.sheet_names
#lenでシートの総数を確認
num_sheet = len(input_sheet_name)
#シートの数とシートの名前のリストの表示
print ("Sheet の数:", num_sheet)
print (input_sheet_name)

Sheet の数: 19
['2021', '2020', '2019', '2018', '2017', '2016', '2015', '2014', '2013', '2012', '2011', '2010', '2009', '2008', '2007', '2006', '2005', '2004', '2003']

In [64]:
#DataFrameとしてsheet1枚のデータ(2019)を読込み
input_sheet_df = input_book.parse(input_sheet_name[2])

In [ ]:
#読み込んだシート名の確認
print("Sheet name:", input_sheet_name[2])
#読み込んだシートの先頭10行を表示
input_sheet_df.head(10)

In [ ]:
input_sheet_df.tail(5)

In [68]:
input_sheet_df = input_book.parse(input_sheet_name[2],
skiprows = 3,
skipfooter = 2,
usecols= "A:B,D,F,H,J,L,N,P,R,T,V,X",
names = range(0,13))

In [69]:
#先頭10行を表示
input_sheet_df.head(20)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,総数,2689339,2604322,2760136,2926685,2773091,2880041,2991189,2520134,2272883,2496568,2441274,2526387
1,アジア計,2366944,2323258,2287450,2369734,2344872,2483217,2563058,2156004,1827278,1959436,2016676,2121351
2,韓国,779383,715804,585586,566624,603394,611867,561675,308730,201252,197281,205042,247959
3,中国,754421,723617,691279,726132,756365,880651,1050420,1000639,819054,730631,750951,710234
4,台湾,387498,399829,402433,403467,426537,461085,459216,420279,376186,413701,392102,348269
5,香港,154292,179324,171430,194806,189007,209030,216810,190260,155927,180562,199702,249642
6,タイ,92649,107845,147443,164817,107857,62984,73202,49589,62057,145333,140265,164936
7,シンガポール,22676,26102,43687,36704,37650,47264,21716,19698,29147,41937,65295,100376
8,マレーシア,31399,36660,50615,46092,42629,30534,22957,19827,28778,48864,64987,78250
9,インドネシア,32477,24622,39609,39768,30107,49290,25215,16160,25021,34094,37213,59203
10,フィリピン,35987,35170,48277,69266,59578,46842,37771,31470,37758,64690,64763,81542
11,ベトナム,35375,39377,47881,55295,39900,35419,40762,43709,38325,46510,41892,30606
12,インド,12468,9071,17752,18376,19914,15359,13222,13308,15895,13929,14863,11739
13,マカオ,6608,7933,8045,6873,8538,9962,16358,17232,8076,7538,9309,14725
14,イスラエル,1107,1524,6032,7453,3164,1644,2221,2130,5402,7956,3728,1853
15,モンゴル,2893,2108,2989,2650,2166,2570,2203,3275,3102,2637,2473,2447
16,トルコ,1153,1105,2181,2483,1906,2736,2025,1924,1752,1855,2176,1428
17,その他アジア,16558,13167,22211,28928,16160,15980,17285,17774,19546,21918,21915,18142
18,ヨーロッパ計,92337,99499,186225,240955,164278,134028,178049,165158,188424,248153,165715,123708
19,英国,21554,23554,38610,44537,31642,25801,28928,26213,49580,68401,37709,27750

In [57]:
input_sheet_df[[0]]

                                                                                                                                             0
総数       2689339  7.512966  2604322  3.786917  2760136  5.835221  2926685  0.895192   2773091  3.664938  2880041  6.485543  2991189   5.619589
アジア計     2366944  7.228514  2323258  3.383969  2287450  5.267833  2369734 -2.520238   2344872  2.670228  2483217  6.073558  2563058   5.443007
韓国       779383  -3.039626  715804   1.056870  585586  -5.428007  566624  -11.260205  603394  -5.771955  611867   0.941168  561675   -7.612102
中国       754421   19.313020 723617   1.016846  691279   16.196968 726132   6.256429   756365   13.126683 880651   15.730621 1050420  19.488521
台湾       387498   10.548839 399829  -0.256699  402433   3.897113  403467  -14.163628  426537  -3.083782  461085   0.917060  459216   -0.272980
香港       154292  -3.879890  179324   0.471756  171430  -12.379697 194806   8.267660   189007  -0.786331  209030   1.693513  216810   -4.385791
タイ       92649    12.176724 107845   31.491032 147443   26.873069 164817   10.878121  107857   4.155320  62984   -14.472719 73202    -1.612860
シンガポール   22676    7.118900  26102    11.091250 43687    14.697157 36704   -2.395958   37650   -4.405230  47264    18.233896 21716     1.557312
マレーシア    31399    0.922474  36660    3.796823  50615    6.217997  46092   -6.339917   42629    17.048325 30534   -16.258022 22957    -0.567394
インドネシア   32477    8.727821  24622    16.675354 39609    22.144443 39768   -7.737280   30107   -4.300699  49290   -12.228217 25215    -4.831100
フィリピン    35987    13.502176 35170    27.895560 48277   -13.949343 69266    8.409372   59578    0.952284  46842    25.400225 37771    30.402210
ベトナム     35375    27.693752 39377    68.522640 47881    35.890450 55295    9.932603   39900    41.629987 35419    20.162166 40762    21.706676
インド      12468    9.966484  9071     15.275130 17752    28.340081 18376    3.743014   19914    15.303109 15359    23.019624 13222     6.380240
マカオ      6608     7.150965  7933    -3.185258  8045     8.467035  6873    -7.794473   8538     5.616032  9962     19.966281 16358    11.696825
イスラエル    1107     17.515924 1524     51.944167 6032     0.315982  7453     9.249487   3164     14.762423 1644     6.892068  2221      1.787351
モンゴル     2893     20.091324 2108     21.638777 2989     28.725237 2650     12.145578  2166     3.586801  2570     28.886660 2203     -3.249890
トルコ      1153     4.722979  1105     11.842105 2181     2.538787  2483    -7.729469   1906     15.795869 2736     74.712644 2025     11.940299
その他アジア   16558    17.332766 13167    23.808181 22211    20.417457 28928   -1.360521   16160    11.741115 15980    27.584830 17285    12.922192
ヨーロッパ計   92337    4.716596  99499    4.251841  186225   8.511345  240955   20.066273  164278   6.478355  134028   11.649062 178049    8.269383
英国       21554    8.240848  23554   -1.414699  38610    6.077257  44537    23.081387  31642    4.394589  25801    14.416851 28928     9.129319
フランス     15320    4.917135  17397    7.045287  29408    16.090321 46005    4.445252   30863    4.326809  21317    9.989165  34634     4.146745
ドイツ      11358    2.638713  13384    1.363223  28659    14.990170 27829    25.854740  21552    5.833824  15697    8.848207  18593     8.350816
イタリア     6033    -5.601627  5897    -0.757321  14956    12.926608 24062    35.468979  12463    2.306682  11357    2.834118  13566     0.192024
ロシア      6316     11.021269 5601     13.449463 11701    31.235980 13787    11.410101  9691     30.080537 8844     25.482406 9005     15.924305
スペイン     4382     5.159587  4533     8.626887  8916    -22.631031 13858    50.515912  9971     7.180479  9762     17.784749 15771    16.943497
スウェーデン   3509     1.710145  3228    -6.893568  5461    -13.179650 6702     8.887084   4171    -1.789498  5321    -1.023065  4364     -0.297007
オランダ     3321    -2.495596  4139     14.210817 7071     25.997862 9476     7.816589   7502     8.191520  4930     10.020085 10459    14.556407
スイス      2399     8.650362  2568    -1.797323  5066    -9.969789  7983     23.690734  4608    -3.091483  3145     2.710647  6489     -2.989984
ベルギー     1572     4.939920  1849     8.828723  3547     12.317923 5258     24.922785  3351     12.600806 2553     20.311027 5166      6.912252
フィンランド   1875     0.590129  2213     24.116657 2729     2.516905  2604    -9.205021   3102     21.504113 3054     13.997760 2108      2.429543
ポーランド    1517    -16.234125 1591    -2.092308  4188     26.106594 5972     8.581818   3442    -7.646901  2721     9.364952  3217     17.451625
デンマーク    1544    -8.639053  1843     16.571790 3132    -17.881489 4215     51.346499  2404     20.019970 1980     5.039788  4972     15.520446
ノルウェー    1537     17.149390 1640     1.863354  2335    -34.132581 3756     104.798255 1537     4.203390  2453     9.655789  3320     11.784512
オーストリア   1382     11.361805 1479     9.231905  2498     7.394669  3451     50.370370  2179    -6.840530  1732     8.114856  3005     18.446985
ポルトガル    1587     17.904903 1571     2.814136  2538     3.465145  3527     43.141234  2728     28.800755 2577     42.612064 2828     15.522876
アイルランド   1316     4.610493  1333     3.013910  1970    -9.550046  2481     31.339333  1949     0.619515  1887     9.391304  1889      6.064009
その他ヨーロッパ 5815     10.425370 5679     16.827813 13440    30.548810 15452    12.337332  11123    10.930488 8897     13.366463 9735      9.776725
アフリカ計    2777     9.330709  2337     8.194444  3952     19.793877 3933     4.213037   2847     5.171777  3852     35.395431 3651      6.257276
北アメリカ計   130340   11.171764 120332   12.678852 221773   13.575979 219055   16.614762  199117   11.406591 207718   7.995217  196104    6.414591
米国       103191   12.147065 92669    13.115815 176564   16.957685 170247   15.792230  156962   11.746154 175491   8.504600  156865    6.917446
カナダ      22293    8.964270  23883    14.585232 37959    8.808691  38897    13.551306  35335    12.470955 25402    6.222297  29285     7.460003
メキシコ     3615    -0.082919  2889    -10.888341 5740    -28.088198 8222     55.513524  5482    -4.875933  5676     1.176471  8661     -5.715219
その他北アメリカ 1241     7.819288  891      13.793103 1510     5.446927  1689     32.470588  1338     23.091076 1149     6.388889  1293     14.526129
南アメリカ計   7420    -15.901621 5883    -18.052654 10689   -5.062617  13089    10.492993  9033    -7.467732  7794     12.695200 8712     -5.160026
ブラジル     2935    -15.417867 2122    -4.586331  5070     14.060742 5726     10.455247  4244     4.352102  3363     19.850321 4476      0.629496
その他南アメリカ 4485    -16.215206 3761    -24.096872 5619    -17.537423 7363     10.522366  4789    -15.908692 4431     7.810219  4236    -10.595188
オセアニア計   89476    15.930086 52965    4.935214  49987   -6.496446  79852    21.918896  52878    15.891906 43360    4.764666  41553     4.197698
豪州       81063    15.930153 47658    5.517425  44175   -6.945147  70504    22.760830  46223    16.833910 37283    4.194847  34873     2.982606
ニュージーランド 7920     16.402116 5068     0.000000  5393    -4.413329  9010     17.073805  6222     9.832304  5541     7.801556  6241     13.000181
その他オセアニア 493      8.830022  239     -0.416667  419      21.098266 338     -8.152174   433      8.521303  536      15.021459 439     -10.953347
無国籍・その他  45      -27.419355 48       26.315789 60      -20.000000 67      -5.633803   66       17.857143 72       10.769231 62       14.814815

,,,,,,,,,,,,,,0,1,2,3,4,5,6,7,8,9,10,11,12
総数,2689339,7.512966,2604322,3.786917,2760136,5.835221,2926685,0.895192,2773091,3.664938,2880041,6.485543,2991189,5.619589,2520134,-2.245405,2272883,5.245798,2496568,-5.454876,2441274,-0.386698,2526387,-4.004482,31882049,2.212735
アジア計,2366944,7.228514,2323258,3.383969,2287450,5.267833,2369734,-2.520238,2344872,2.670228,2483217,6.073558,2563058,5.443007,2156004,-4.396341,1827278,0.563721,1959436,-10.569240,2016676,-3.729793,2121351,-7.189014,26819278,0.229315
韓国,779383,-3.039626,715804,1.056870,585586,-5.428007,566624,-11.260205,603394,-5.771955,611867,0.941168,561675,-7.612102,308730,-48.020090,201252,-58.049165,197281,-65.460559,205042,-65.141539,247959,-63.619224,5584597,-25.923431
中国,754421,19.313020,723617,1.016846,691279,16.196968,726132,6.256429,756365,13.126683,880651,15.730621,1050420,19.488521,1000639,16.337004,819054,25.479364,730631,2.149723,750951,21.660359,710234,18.552929,9594394,14.491111
台湾,387498,10.548839,399829,-0.256699,402433,3.897113,403467,-14.163628,426537,-3.083782,461085,0.917060,459216,-0.272980,420279,6.520830,376186,14.292919,413701,8.973930,392102,11.422685,348269,3.716311,4890602,2.802959
香港,154292,-3.879890,179324,0.471756,171430,-12.379697,194806,8.267660,189007,-0.786331,209030,1.693513,216810,-4.385791,190260,-3.970685,155927,23.580928,180562,6.543225,199702,19.450426,249642,19.187029,2290792,3.758848
タイ,92649,12.176724,107845,31.491032,147443,26.873069,164817,10.878121,107857,4.155320,62984,-14.472719,73202,-1.612860,49589,4.382512,62057,14.029253,145333,23.216814,140265,36.297383,164936,28.550942,1318977,16.500936
シンガポール,22676,7.118900,26102,11.091250,43687,14.697157,36704,-2.395958,37650,-4.405230,47264,18.233896,21716,1.557312,19698,20.609846,29147,24.741077,41937,19.400393,65295,20.306224,100376,15.264747,492252,12.571350
マレーシア,31399,0.922474,36660,3.796823,50615,6.217997,46092,-6.339917,42629,17.048325,30534,-16.258022,22957,-0.567394,19827,-1.568783,28778,7.916151,48864,24.847339,64987,17.053621,78250,15.708223,501592,7.095397
インドネシア,32477,8.727821,24622,16.675354,39609,22.144443,39768,-7.737280,30107,-4.300699,49290,-12.228217,25215,-4.831100,16160,-7.498569,25021,2.389819,34094,20.673911,37213,15.892245,59203,9.704258,412779,4.013335